.image img{
 width: 200px;
}
.containerCard {
    width: 300px;
    display: block;
    width: 300px;
    border: 1px solid antiquewhite;
    border-radius: 5px;
    justify-items: center;
    padding: 20px;

}
.button {
    border: 1px solid antiquewhite;
    border-radius: 2px;
    color: white;
    background-color: black;
    padding: 5px 10px;
}